<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute %>
  <small style="margin-top:5px;">A <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes" target="_blank">language code</a> from ISO 639-1 or where necessary from ISO 639-3.</small>
</div>
