<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute %>
  <div style="margin-top:5px;">
    Enter Discourse usernames separated by whitespace.
    When coding, the system will suggest all codes created by these authors in addition to codes created by you.
  </div>
</div>