<% content_for(:javascript) do %>
  <script>
      $('#bulk-editing-parent-id-field').selectize();

      function handleBulkEditSubmit() {
          localStorage.setItem("checkboxValues", null);
      }
  </script>
<% end %>


<style type="text/css">
  .selectize-control {
    width: 500px;
    display: inline-block;
  }

  .selectize-input {
    z-index: auto;
  }

  #check-all, #uncheck-all {
    font-size: .8em;
  }
</style>


<%= form_tag update_parent_annotator_discourse_annotator_codes_path, method: :post, remote: false, id: 'bulk-editing-form', onSubmit: 'handleBulkEditSubmit();' do %>
  <input id="bulk-editing-selected-ids" type="hidden" name="selected_ids">
  Assign selected to parent:
  <div>
    <select id="bulk-editing-parent-id-field" name="parent_id"></select>
    <%= submit_tag("Save", style: 'vertical-align:top') %>
  </div>
  <div style="color:#777; font-size:.8rem;">
    Leave blank to move selected codes to the top level.
  </div>

  <div style="padding-top:2px; margin-top:4px; border-top:1px solid #DFE0E1;">
    <a href="#" id="check-all">[Check All]</a>
    <a href="#" id="uncheck-all">[Uncheck All]</a>
    <div style="color:#777; font-size:.8rem;">
      Only applied to codes on the current page.
    </div>
  </div>
<% end %>