
<% content_for(:javascript) do %>
    <script>
    </script>
<% end %>

<div class="tree">
  <ul>
    <% codes.each do |code| %>
        <%= render 'tree_item', code: code %>
    <% end %>
  </ul>
</div>
