
<%= render "header", page_title: "Edit code \"#{page.resource.localized_name_with_path}\"",  action: :edit, page: page %>

<section class="main-content__body">
  <%= render "form", page: page %>
</section>
