<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% tags = if current_user.admin?
              nested_dropdown_tags
            else
              nested_dropdown_tags(created_by: field.resource.persisted? ? field.resource.creator : current_user)
            end
  %>

  <%= f.select :parent_id, tags, include_blank: true %>
</div>
