tbody tr:hover {
  background-color: transparent;
  cursor: inherit;
}

tbody tr:focus {
  outline: none;
  outline-offset: -3px;
}


ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  margin: 0 0 5px 20px;
  padding: 0;
}


.flash-referer {
  display: none !important;
}

.annotator-filter-nav {
  margin: 0 0 20px 40px;

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-btn {
      color: #777;
      display: inline-block;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 18px;
      padding-left: 12px;
      line-height: 22px;
      cursor: pointer;
    }

    .dropdown-btn-text {
      display: inline-block;
      padding-right: 6px;
      white-space: nowrap;
    }

    .dropdown-arrow {
      border-color: #777 transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      width: 0;
      height: 0;
      margin-left: -2px;
      top: 50%;
      right: 8px;
      margin-top: -2px;
      position: absolute;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: black;
        padding: 5px 10px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #F7F7F7;
        }

        &.active {
          font-weight: bold;
          background-color: #F1F1F1;
        }
      }
    }

    &:hover {
      .dropdown-content {
        display: block;
      }

      .dropdown-btn {
      }
    }
  }

}


.field-unit {
  align-items: inherit !important;
}

.nowrap {
  white-space: nowrap;
}
