tbody tr:hover {
  background-color: transparent;
  cursor: inherit;
}

tbody tr:focus {
  outline: none;
  outline-offset: -3px;
}


ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  margin: 0 0 5px 20px;
  padding: 0;
}


.link-primary {
  color: #1976d2 !important;
  text-decoration:underline !important;
}

.flash-referer {
  display: none !important;
}

.annotator-filter-nav {
  margin: 0 0 20px 40px;

  .dropdown {
    position: relative;
    display: inline-block;

    .dropdown-btn {
      color: #777;
      display: inline-block;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 18px;
      padding-left: 12px;
      line-height: 22px;
      cursor: pointer;
    }

    .dropdown-btn-text {
      display: inline-block;
      padding-right: 6px;
      white-space: nowrap;
    }

    .dropdown-arrow {
      border-color: #777 transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      width: 0;
      height: 0;
      margin-left: -2px;
      top: 50%;
      right: 8px;
      margin-top: -2px;
      position: absolute;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      a {
        color: black;
        padding: 5px 10px;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #F7F7F7;
        }

        &.active {
          font-weight: bold;
          background-color: #F1F1F1;
        }
      }
    }

    &:hover {
      .dropdown-content {
        display: block;
      }

      .dropdown-btn {
      }
    }
  }

}


.field-unit {
  align-items: inherit !important;
}

.nowrap {
  white-space: nowrap;
}


.tree {
  /*background-color: #fbfbfb;*/
  //  min-height:20px;
  //  padding:19px;
  //  margin-bottom:20px;
  //  border:1px solid #999;
  //  -webkit-border-radius:4px;
  //  -moz-border-radius:4px;
  //  border-radius:4px;
  //  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  //  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
  //  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)

  & > ul {
    padding-left: 5px;
  }

  ul {
    padding-left: 40px;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
  }

  li::before, li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
  }

  li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
  }

  li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px
  }

  li > span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    background: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none
  }

  li.parent_li > span {
    cursor: pointer
  }

  & > ul > li::before, > ul > li::after {
    border: 0
  }

  li:last-child::before {
    height: 30px
  }

  li.parent_li > span:hover, li.parent_li > span:hover + ul li span {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000
  }

  .item {
    font-weight: normal;
  }
}


#translate-view {

  td {
    vertical-align: top;
  }
  td:first-child, th:first-child {
    padding-left: 0;
  }
  td.names, td.description {
    width:40%;
  }
  td.submit {
    input {
      margin-top:35px;
    }
  }
  .code-row {
    margin-left:30px;
  }
  .saved-notification {
    color: #2dcf02;
    margin-top:10px;
    font-weight:500;
  }
  .error-explanation {
    margin-top:10px;
    ul {
      margin-left:0;
    }
  }
}